<p><label for="order"><%= I18n.t(:order) %></label>
<%= text_field :jobtype, :sort %></p>

<p><label for="name"><%= I18n.t(:name) %></label>
<%= text_field :jobtype, :name %></p>

<p><label for="serial_length"><%= I18n.t(:serial_length) %></label>
<%= text_field :jobtype, :serial_length %></p>

<p><label for="phone_length"><%= I18n.t(:phone_length) %></label>
<%= text_field :jobtype, :phone_length %></p>

