<li>

<% form_remote_tag (:url=>{:action=>'create_exception'}, :update=>'exceptions') do %>

<p><label for="zone"><%= I18n.t(:zone) %></label>
<%= select(:exception, :row_id, @rows) %></p>

<p><label for="serial_length"><%= I18n.t(:serial_length) %></label>
<%= text_field :exception, :serial_length %></p>

<p><label for="phone_length"><%= I18n.t(:phone_length) %></label>
<%= text_field :exception, :phone_length %></p>

<p><label>&nbsp;</label>
<%= submit_tag I18n.t(:send_data) %></p>

<%= hidden_field(:exception, :type_id) %>
<%= hidden_field(:exception, :job_type_id) %>

<% end %>

</li>

