<h1><%= I18n.t(:edit_job_type) %></h1>

<%= error_messages_for :jobtype %>
<% form_for :jobtype, :url=>{:action=>'update', :id=>@jobtype.id} do |f| -%>
  <%= render(:partial => f) %>
  <p><label>&nbsp;</label>
  <%= submit_tag I18n.t(:send_data) %></p>
<% end -%>

<%= I18n.t(:jobs) %>: <%= @jobs_size %>


<h2><%= I18n.t(:length_exceptions_by_zone) %></h2>
<%= link_to_remote(I18n.t(:add_exception),
  {:url=>{:action=>:add_length_exception, :id=>@jobtype.id, :type_id=>LengthException::TYPE_ZONE},
   :update=>'exceptions',
   :loading=> "$('loading').show();",
   :complete=>"$('loading').hide();"
   }) %>
<img src="/images/loading.gif" id="loading" style="display:none;"><br/>
<br/>
<ul id="exceptions">
<%= render(:partial=>'exception', :collection=>@exceptions) %>
</ul>

<br/>


