<p><label for="name"><%= I18n.t(:person_name) %></label>
<%= text_field :employee, :name %></p>

<p><label for="team"><%= I18n.t(:team) %></label>
<%= text_field :employee, :team %></p>

<p><label for="taiwanid"><%= I18n.t(:taiwanid) %></label>
<%= text_field :employee, :taiwanid %></p>
   
<p><label for="birthday"><%= I18n.t(:birthday) %></label>
<%= text_field :employee, :birthday %></p>
     
<p><label for="cell"><%= I18n.t(:cell) %></label>
<%= text_field :employee, :cell %></p>

<p><label for="home_phone"><%= I18n.t(:home_phone) %></label>
<%= text_field :employee, :home_phone %></p>

<p><label for="address"><%= I18n.t(:address) %></label>
<%= text_field :employee, :address %></p>

<p><label for="memo"><%= I18n.t(:memo) %></label>
<%= text_area :employee, :memo, :rows=>5 %></p>

