<table>
<tr class="heading">
<td><%= I18n.t(:mdate) %></td>
<td><%= I18n.t(:team) %></td>
<td><%= I18n.t(:zone) %></td>
<td><%= I18n.t(:serial) %></td>
<td><%= I18n.t(:phone) %></td>
<td><%= I18n.t(:job_type) %></td>
<td><%= I18n.t(:result) %></td>
<td><%= I18n.t(:reason) %></td>
<td><%= I18n.t(:memo) %></td>
<td><%= I18n.t(:problem_customer) %></td>
</tr>

<%= render(:partial=>'problem', :collection=>@problems) %>
</table>

