<tr>
<td><%= sms.employee.name %></td>
<td><%= sms.phone %></td>
<td><%= sms.msg %></td>
<td><%= time_ago_in_words(sms.created_at) %></td>
<td><%= time_ago_in_words(sms.updated_at) %></td>
<td><%= sms.status %> / <%= sms.code %></td>
<td><%= sms.status_msg %></td>
<td><%= (time_ago_in_words(sms.arrival_time) + " " + sms.arrival_time.to_s) if sms.arrival_time %></td>
</tr>

