<table>
<tr>
<td><%= I18n.t(:edit) %></td>
<td><%= I18n.t(:mdate) %></td>
<td><%= I18n.t(:team) %></td>
<td><%= I18n.t(:zone) %></td>
</tr>

<%= render(:partial=>'job', :collection=>@jobs) %>
</table>

