<script>
function get_serial_len(job_type, zone) {
  switch(job_type) {
<%= @serial_cases %>
    }
  }
function get_phone_len(job_type, zone) {
  switch(job_type) {
<%= @phone_cases %>
    }
  }
</script>

<h1><%=I18n.t(:job_input)%></h1>
<% form_for(:job, @job, {:url=>{:action=>""}, :loading=>"$('loading').show()" , :html=>{:name=>'addform', :onSubmit=>'return false;'}}) do |f| -%>

<label><%=I18n.t(:mdate)%></label>
<%= f.text_field(:date) %><br/>

<label><%=I18n.t(:zone)%></label>
<%= f.collection_select(:zone, @zones, :id, :name) %><br/>

<label><%=I18n.t(:job_type)%></label>
<%= f.collection_select(:job_type, @types, :id, :name) %><br/>

<label><%=I18n.t(:team)%></label>
<%= f.collection_select(:employee, @employees, :id, :team_and_name) %><br/>

<label><%=I18n.t(:serial)%></label>
<%= f.text_field(:serial, :onkeyup=>"job_input_key(event, this);") %>
<img id='error_serial' style="display:none;" src="/images/error.png"><br/>

<label><%=I18n.t(:phone)%></label>
<%= f.text_field(:phone, :onkeyup=>"job_input_key(event, this);") %>
<img id='error_phone' style="display:none;" src="/images/error.png"><br/>

<!--
<label><%=I18n.t(:ampm)%></label>
<%= f.text_field(:ampm, :onkeyup=>"job_input_key(event, this);") %>
<img id='error_ampm' style="display:none;" src="/images/error.png"><br/>
-->

<label>&nbsp;</label>
<%= button_to_function(I18n.t(:send_data), 'return verify()') %>
<%= image_tag('loading.gif', :id=>"loading", :style=> "display:none;") %>

<% end %>
<br/>
<div id="error_frame" style="display:none;">
<img id='error_phone' src="/images/error.png">
<div id="error" class="error"></div>
</div>

