<% form_remote_for(:job, @job, {:url => {:action=>:create}}, {:loading=>"$('loading').show()"}) do |f| -%>

<label><%=I18n.t(:mdate)%></label>
<%= f.text_field(:date) %><br/>

<label><%=I18n.t(:zone)%></label>
<%= f.collection_select(:zone, @zones, :id, :name) %><br/>

<label><%=I18n.t(:job_type)%></label>
<%= f.collection_select(:job_type, @types, :id, :name) %><br/>

<label><%=I18n.t(:team)%></label>
<%= f.collection_select(:employee, @employees, :id, :team_and_name) %><br/>

<label><%=I18n.t(:serial)%></label>
<%= f.text_field(:serial_id) %><br/>

<label><%=I18n.t(:phone)%></label>
<%= f.text_field(:phone_id) %><br/>

<label><%=I18n.t(:ampm)%></label>
<%= f.text_field(:ampm_id) %><br/>

<label>&nbsp;</label>
<%= f.submit(I18n.t(:send_data)) %>

<% end %>

<div id="loading" style="display:none;">In construction...</div>


