<% form_remote_for(:job, @job, {:url => {:action=>:create}}, {:success=>"alert('FAKE !')", :failure=>"alert('KO')"}) do |f| -%>

<label><%=I18n.t(:date)%></label>
<%= f.text_field(:date) %><br/>

<label><%=I18n.t(:zone)%></label>
<%= f.collection_select(:zone, @zones, :id, :name) %><br/>

<label><%=I18n.t(:job_type)%></label>
<%= f.collection_select(:type, @types, :id, :name) %><br/>

<label><%=I18n.t(:team)%></label>
<%= f.collection_select(:type, @employees, :id, :team_and_name) %><br/>

<label><%=I18n.t(:serial)%></label>
<%= f.text_field(:serial) %><br/>

<label><%=I18n.t(:phone)%></label>
<%= f.text_field(:phone) %><br/>

<label><%=I18n.t(:ampm)%></label>
<%= f.text_field(:ampm) %><br/>




<label>&nbsp;</label>
<%= f.submit(I18n.t(:send_data)) %>

<% end %>

