<h1><%=I18n.t(:result_input)%></h1>

<% 
  form_remote_tag(:url => {:action => "do_result_input"}, :loading=>"$('loading').show();", :success=>"result" ) do
%>

<label><%=I18n.t(:result)%></label>
<%= select(:job, :result_id, @results, {:prompt=>I18n.t(:choose)}) %><br/>

<label><%=I18n.t(:team)%></label>
<%= collection_select(:job, :team, @employees, :id, :team_and_name, {:prompt => I18n.t(:choose)}) %><br/>

<label><%=I18n.t(:mdate)%></label>
<%= text_field_tag(:date, Date.today) %><br/>

<label><%=I18n.t(:phone)%></label>
<%= text_field_tag(:phone) %><br/>

<label>&nbsp;</label>
<%= submit_tag(I18n.t(:send_data)) %>

<% end %>
<br/>
<br/>
<div id="loading" style="display:none;">Searching...</div>
<div id="result"></div>

