<h1><%=I18n.t(:job_search)%></h1>

<%=I18n.t(:help_search)%><br/>
<br/>
<% form_remote_tag(:url => {:action => "do_search"}, :loading=>"$('loading').show();", :success=>"results" ) do %>

<label><%=I18n.t(:fromdate)%></label>
<%= text_field_tag(:fromdate) %> <%=link_to_function(I18n.t('today'), "$('fromdate').value='#{Date.today()}'")%><br/>
<label><%=I18n.t(:todate)%></label>
<%= text_field_tag(:todate) %> <%=link_to_function(I18n.t('today'), "$('todate').value='#{Date.today()}'")%><br/>

<label><%=I18n.t(:zone)%></label>
<%= collection_select(:s, :zone, @zones, :id, :name, {:include_blank => I18n.t(:all)}) %><br/>

<label><%=I18n.t(:job_type)%></label>
<%= collection_select(:s, :job_type, @types, :id, :name, {:include_blank => I18n.t(:all)}) %><br/>

<label><%=I18n.t(:team)%></label>
<%= collection_select(:s, :team, @employees, :id, :team_and_name, {:include_blank => I18n.t(:all)}) %><br/>

<label><%=I18n.t(:serial)%></label>
<%= text_field_tag(:serial, params['serial']) %><br/>

<label><%=I18n.t(:phone)%></label>
<%= text_field_tag(:phone, params['phone']) %><br/>

<label><%=I18n.t(:result)%></label>
<%= select(:job, :result_id, @results, {:include_blank=>I18n.t(:all)}) %><br/>

<label><%=I18n.t(:sort_by)%></label>
<%= select_tag(:sort, options_for_select(@sort)) %><br/>


<label>&nbsp;</label>
<%= submit_tag(I18n.t(:job_search)) %>
<%= image_tag('loading.gif', :id=>"loading", :style=> "display:none;") %>

<% end %>
<br/>
<div id="print" style="display:none;"><%= link_to(image_tag('print.jpg'), 'print', :target=>'_blank') %></div>

<div id="results"><%=@search_results%></div>

<div id="edit" class="edit_form" style="display:none;"></div>

