<h1><%=I18n.t(:job_search)%></h1>


<%=I18n.t(:help_search)%><br/>
<br/>
<% 
  form_remote_tag(:url => {:action => "do_search"}, :loading=>"$('loading').show();", :success=>"results" ) do
%>

<label><%=I18n.t(:fromdate)%></label>
<%= text_field_tag(:fromdate) %><br/>
<label><%=I18n.t(:todate)%></label>
<%= text_field_tag(:todate) %><br/>

<label><%=I18n.t(:zone)%></label>
<%= collection_select(:s, :zone, @zones, :id, :name, {:include_blank => I18n.t(:all)}) %><br/>

<label><%=I18n.t(:job_type)%></label>
<%= collection_select(:s, :job_type, @types, :id, :name, {:include_blank => I18n.t(:all)}) %><br/>

<label><%=I18n.t(:team)%></label>
<%= collection_select(:s, :team, @employees, :id, :team_and_name, {:include_blank => I18n.t(:all)}) %><br/>

<label><%=I18n.t(:serial)%></label>
<%= text_field_tag(:serial) %><br/>

<label><%=I18n.t(:phone)%></label>
<%= text_field_tag(:phone) %><br/>

<label><%=I18n.t(:sort_by)%></label>
<%= select_tag(:sort, options_for_select(@sort)) %><br/>


<label>&nbsp;</label>
<%= submit_tag(I18n.t(:job_search)) %>

<% end %>
<br/>
<br/>
<div id="loading" style="display:none;">Searching...</div>

<div id="results"></div>


