<p><label for="tender_source"><%= I18n.t(:tender_source) %></label>
<%= text_field :case, :tender_source %></p>

<p><label for="job_name"><%= I18n.t(:job_name) %></label>
<%= text_field :case, :job_name %></p>

<p><label for="code"><%= I18n.t(:case_code) %></label>
<%= text_field :case, :code %></p>
   
<p><label for="bid_opening_date"><%= I18n.t(:bid_opening_date) %></label>
<%= text_field :case, :bid_opening_date %></p>
     
<p><label for="tender_deadline"><%= I18n.t(:tender_deadline) %></label>
<%= text_field :case, :tender_deadline %></p>

<p><label for="compliance_deadline"><%= I18n.t(:compliance_deadline) %></label>
<%= text_field :case, :compliance_deadline %></p>

<p><label for="deposit_amount"><%= I18n.t(:deposit_amount) %></label>
<%= text_field :case, :deposit_amount %></p>

<p><label for="fee"><%= I18n.t(:fee) %></label>
<%= text_field :case, :fee %></p>

<p><label for="budget"><%= I18n.t(:budget) %></label>
<%= text_field :case, :budget %></p>

<p><label for="max_budget"><%= I18n.t(:max_budget) %></label>
<%= text_field :case, :max_budget %></p>

<p><label for="bid_amount"><%= I18n.t(:bid_amount) %></label>
<%= text_field :case, :bid_amount %></p>

<p><label for="points"><%= I18n.t(:points) %></label>
<%= text_field :case, :points %></p>

<p><label for="bid_price"><%= I18n.t(:bid_price) %></label>
<%= text_field :case, :bid_price %></p>

<p><label for="point_price"><%= I18n.t(:point_price) %></label>
<%= text_field :case, :point_price %></p>

<p><label for="winning_company"><%= I18n.t(:winning_company) %></label>
<%= text_field :case, :winning_company %></p>

<p><label for="publication_date"><%= I18n.t(:publication_date) %></label>
<%= text_field :case, :publication_date %></p>

<p><label for="downloaded"><%= I18n.t(:downloaded) %></label>
<%= text_field :case, :downloaded %></p>

