<p><label for="order"><%= I18n.t(:order) %></label>
<%= text_field :result, :sort %></p>

<p><label for="name"><%= I18n.t(:name) %></label>
<%= text_field :result, :name %></p>

<p><label for="is_adjourner">&nbsp;</label>
<%= check_box :result, :is_adjourner %>
<%= I18n.t(:is_adjourner) %>
</p>


